<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BomberLoutre.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.App>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ScreenFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeySpace" serializeAs="String">
                <value>Space</value>
            </setting>
        </Properties.App>
        <BomberLoutre.Settings1>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ScreenFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </BomberLoutre.Settings1>
        <Properties.Config>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ScreenFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </Properties.Config>
    </userSettings>
    <applicationSettings>
        <Properties.Settings1>
            <setting name="ScreenWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ScreenFullScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </Properties.Settings1>
    </applicationSettings>
</configuration>